<h1>Restablecimiento de contraseña</h1>
<hr />
<form action="/api/sessions/forget-password" method="post">
    Email: <input type="text" name="email"> <input type="submit" value="Restablecer contraseña"><br><br>
    <a href="/">Login</a> | <a href="/register">Register</a>
</form>