<h1>Iniciar Session</h1>

<form action="/api/sessions/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>

    <br>

    <input type="submit" value="Iniciar Sesion">
    
</form>
<a href="/api/sessions/register"><button>Registrarse</button></a>