<h1>Inicie Session</h1>

<form action="/api/sessions/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>

    <br>
    <a href="/forget-password">Olvidé mi contraseña</a><br><br>
    <input type="submit" value="Iniciar Sesion">
    
</form>
 <a href="/api/sessions/github"><button>Entrar con Github</button></a>
<br>
<a href="/register"><button>Registrarse</button></a>