<h1>Crea una nueva contraseña</h1>
<hr />
<form action="/api/sessions/reset-password/{{user}}" method="post">
    Nueva contraseña: <input type="text" name="newPassword"> <input type="submit" value="Cambiar contraseña"><br><br>
    <a href="/">Login</a> | <a href="/register">Register</a>
</form>